layout {
  pane size=1 borderless=true {
    plugin location="zellij:tab-bar"
  }
  pane {
      cwd "apps/expo"
      command "pnpm"
      args "dev"
      name "Expo"
    }
    pane {
      cwd "apps/nextjs"
      command "pnpm"
      args "dev"
      name "Next JS"
    }
  pane size=2 borderless=true {
    plugin location="zellij:status-bar"
  }
}
